$mainBg: #eb5e55;
$gray: #3a3335;
$text: #fdf0d5;
$lightGray: rgb(184, 184, 184);
$secondaryBg: #d81e5b;
$secondaryBgContrast: #de3259;
$secondaryBgContrastHover: #e34257;
$darkBg: #101010;
$darkContrast: #131313;
$grayContrast: #1b1b1b;
$grayContrastHover: #242424;
