:root {
  --swiper-pagination-color: #fdf0d5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #eb5e55;
  overflow: overlay;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #3a3335;
}

.backToTopBtn {
  border-radius: 3px;
  background-color: #242424;
  position: fixed;
  right: 50px;
  bottom: 80px;
  cursor: pointer;
  transition: all 0.2s ease;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
}
.backToTopBtn i {
  font-size: 24px;
  color: #fdf0d5;
  user-select: none;
  padding: 12px;
}
.backToTopBtn:hover {
  background-color: #101010;
}
.backToTopBtn.active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background: #eb5e55;
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
  z-index: 50;
}
nav.sticky {
  box-shadow: 0 2px 50px rgba(0, 0, 0, 0.05);
}
nav .logo {
  margin-left: 12vw;
  user-select: none;
  display: flex;
  align-items: center;
}
nav .logo h2 {
  color: #cfcfcf;
  font-weight: 600;
  font-size: 18px;
  margin-left: 12px;
}
nav .nav-items {
  display: flex;
  align-items: center;
  margin-right: 12vw;
}
nav .nav-items p {
  margin-left: 38px;
  cursor: pointer;
  color: #fdf0d5;
  transition: all 0.3s ease;
  position: relative;
}
nav .nav-items p:hover {
  color: #b8b8b8;
}

#landing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #eb5e55;
}
#landing h1 {
  font-size: 40px;
  font-weight: 500;
  color: #3a3335;
  text-align: center;
}
#landing h1 span {
  color: #fdf0d5;
  font-weight: 800;
}

#info {
  height: 80vh;
}
#info h2 {
  margin-left: 12vw;
  margin-right: 12vw;
  color: #fdf0d5;
  font-size: 28px;
  font-weight: 700;
}
#info h2 span {
  color: #d81e5b;
}
#info .content {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14vh;
}
#info .content .text {
  margin-left: 12vw;
}
#info .content .text p {
  color: #fdf0d5;
  font-weight: 300;
  font-size: 19px;
  width: 50vw;
  margin-top: 6px;
}
#info .content .image {
  margin-right: 12vw;
  transform: translateY(-60px);
}
#info .waves {
  z-index: 5;
}

#faq {
  background-color: #d81e5b;
  width: 100vw;
  height: 46vh;
  transform: translateY(5vh);
}
#faq h2 {
  margin-left: 12vw;
  margin-right: 12vw;
  padding-top: 8vh;
  font-weight: 700;
  color: #fdf0d5;
  font-size: 28px;
}
#faq h2 span {
  color: #3a3335;
}
#faq .faq-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 12vw;
  margin-right: 12vw;
  position: relative;
  margin-top: 18px;
}
#faq .faq-container .faq-question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #de3259;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 6px;
  max-height: 55px;
  cursor: pointer;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
}
#faq .faq-container .faq-question:hover {
  background-color: #e34257;
}
#faq .faq-container .faq-question .faq-q-head {
  display: flex;
  align-items: center;
  margin: 12px 8px;
}
#faq .faq-container .faq-question .faq-q-head i {
  color: #fdf0d5;
  font-size: 32px;
  user-select: none;
  transition: all 0.2s ease;
}
#faq .faq-container .faq-question .faq-q-head h3 {
  font-weight: 500;
  color: #fdf0d5;
  margin-left: 3px;
  font-size: 18px;
  user-select: none;
}
#faq .faq-container .faq-question .faq-q-content {
  transition: opacity 0.2s ease;
  opacity: 0;
  user-select: none;
  color: #fdf0d5;
  font-weight: 300;
  font-size: 16px;
  margin-left: 44px;
  pointer-events: none;
  margin-bottom: 12px;
  margin-top: -12px;
  margin-right: 8px;
}
#faq .faq-container .faq-question.active {
  background-color: #e34257;
  max-height: 800px;
}
#faq .faq-container .faq-question.active .faq-q-content {
  opacity: 1;
  pointer-events: all;
}
#faq .faq-container .faq-question.active .faq-q-head i {
  transform: rotate(90deg);
}

.dashboard-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background: #101010;
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
  z-index: 50;
}
.dashboard-nav.sticky {
  box-shadow: 0 2px 50px rgba(0, 0, 0, 0.05);
}
.dashboard-nav .logo {
  margin-left: 12vw;
  user-select: none;
  display: flex;
  align-items: center;
}
.dashboard-nav .logo h2 {
  color: #cfcfcf;
  font-weight: 600;
  font-size: 18px;
  margin-left: 12px;
}
.dashboard-nav .nav-items {
  display: flex;
  align-items: center;
  margin-right: 12vw;
}
.dashboard-nav .nav-items p {
  margin-left: 38px;
  cursor: pointer;
  color: #fdf0d5;
  transition: all 0.3s ease;
  position: relative;
}
.dashboard-nav .nav-items p:hover {
  color: #b8b8b8;
}

.dashboard {
  background-color: #101010;
  width: 100vw;
  height: 90vh;
}

.page-select {
  display: flex;
  align-items: center;
  margin-left: 12vw;
  margin-right: 12vw;
  margin-top: 10vh;
  padding-top: 2vh;
  background-color: #101010;
}
.page-select .page-select-item {
  color: #8a8a8a;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  user-select: none;
}
.page-select .page-select-item:not(:first-child) {
  margin-left: 32px;
}
.page-select .page-select-item::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #8a8a8a;
  position: absolute;
  left: 0;
  top: 120%;
  transition: all 0.3s ease;
  opacity: 0;
}
.page-select .page-select-item:hover {
  color: #fdf0d5;
}
.page-select .page-select-item.active {
  color: #fdf0d5;
  cursor: default;
}
.page-select .page-select-item.active::after {
  background-color: #e34257;
  opacity: 1;
}

.head {
  margin-top: 4vh;
  margin-left: 12vw;
  margin-right: 12vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.head h1 {
  color: #fdf0d5;
  font-weight: 600;
  font-size: 26px;
}
.head button {
  font-family: "Poppins", sans-serif;
  color: #fdf0d5;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 9px 22px;
  user-select: none;
  border-radius: 5px;
  background-color: #e34257;
  transition: all 0.3s ease;
}
.head button:hover {
  background-color: #d81e5b;
}

.partners,
.companies,
.staff-members,
.applications {
  margin-left: 12vw;
  margin-right: 12vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2vh;
  transition: transform 0.4s ease;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transform: translateY(30px);
}
.partners .partner,
.partners .company,
.partners .staff-member,
.partners .application,
.companies .partner,
.companies .company,
.companies .staff-member,
.companies .application,
.staff-members .partner,
.staff-members .company,
.staff-members .staff-member,
.staff-members .application,
.applications .partner,
.applications .company,
.applications .staff-member,
.applications .application {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #131313;
  padding: 8px 18px;
  border-radius: 5px;
  margin-top: 6px;
}
.partners .partner h3,
.partners .company h3,
.partners .staff-member h3,
.partners .application h3,
.companies .partner h3,
.companies .company h3,
.companies .staff-member h3,
.companies .application h3,
.staff-members .partner h3,
.staff-members .company h3,
.staff-members .staff-member h3,
.staff-members .application h3,
.applications .partner h3,
.applications .company h3,
.applications .staff-member h3,
.applications .application h3 {
  color: #fdf0d5;
  font-size: 16px;
  font-weight: 400;
}
.partners .partner button,
.partners .company button,
.partners .staff-member button,
.partners .application button,
.companies .partner button,
.companies .company button,
.companies .staff-member button,
.companies .application button,
.staff-members .partner button,
.staff-members .company button,
.staff-members .staff-member button,
.staff-members .application button,
.applications .partner button,
.applications .company button,
.applications .staff-member button,
.applications .application button {
  font-family: "Poppins", sans-serif;
  color: #fdf0d5;
  outline: none;
  border: none;
  background-color: #1b1b1b;
  font-size: 14px;
  font-weight: 400;
  padding: 9px 22px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
}
.partners .partner button:hover,
.partners .company button:hover,
.partners .staff-member button:hover,
.partners .application button:hover,
.companies .partner button:hover,
.companies .company button:hover,
.companies .staff-member button:hover,
.companies .application button:hover,
.staff-members .partner button:hover,
.staff-members .company button:hover,
.staff-members .staff-member button:hover,
.staff-members .application button:hover,
.applications .partner button:hover,
.applications .company button:hover,
.applications .staff-member button:hover,
.applications .application button:hover {
  background-color: #242424;
}
.partners.active,
.companies.active,
.staff-members.active,
.applications.active {
  position: relative;
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}

#reviews {
  background-color: #d81e5b;
  height: 40vh;
}
#reviews h2 {
  margin-left: 12vw;
  margin-right: 12vw;
  padding-top: 8vh;
  font-weight: 700;
  color: #fdf0d5;
  font-size: 28px;
  margin-left: 12vw;
  margin-right: 12vw;
}
#reviews h2 span {
  color: #3a3335;
}
#reviews .review-slider {
  margin-left: 12vw;
  margin-right: 12vw;
  margin-top: 24px;
}
#reviews .review-slider .review h3 {
  color: #fdf0d5;
  font-weight: 500;
  font-size: 20px;
  user-select: none;
}
#reviews .review-slider .review p {
  color: #fdf0d5;
  font-weight: 200;
  font-size: 18px;
  user-select: none;
}
#reviews .review-slider .review h4 {
  color: #fdf0d5;
  font-size: 12px;
  font-weight: 600;
  margin-top: 8px;
  user-select: none;
}

footer {
  background-color: #3a3335;
  width: 100vw;
  height: 18vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
footer .footer-info {
  margin-left: 12vw;
  margin-top: 2vh;
}
footer .footer-info p {
  color: #fdf0d5;
  font-weight: 400;
  font-size: 16px;
  margin-left: 9px;
}
footer .footer-request {
  margin-right: 12vw;
  margin-top: 3.5vh;
}
footer .footer-request h4 {
  color: #fdf0d5;
  font-size: 16px;
  font-weight: 600;
}
footer .footer-request .send-request {
  color: #fdf0d5;
  outline: none;
  border: none;
  background-color: #eb5e55;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 5px;
}
footer .footer-request .send-request:hover {
  background-color: #e34257;
}
footer .footer-links {
  margin-top: 3.5vh;
}
footer .footer-links h4 {
  color: #fdf0d5;
  font-size: 16px;
  font-weight: 600;
}
footer .footer-links p {
  cursor: pointer;
  color: #fdf0d5;
  font-weight: 300;
  font-size: 16px;
  transition: all 0.3s ease;
}
footer .footer-links p:hover {
  color: #eb5e55;
}